{{ name }}, ваш отзыв передан в службу по работе с клиентами.
<div class="site-reviews-feedback-sent-successfully__image">
  <img src="/{{ site_reviews_module_directory }}/images/thank-you.svg" alt="Спасибо за отзыв">
</div>
